{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
    <div class="container" id="team">
        <div>
            <h1>Welcome to Pokibase</h1>
        </div>
        {% if teamimgs != None %}
            <div class="justify-content-center">
                <!--<ul class="list-group list-group-horizontal justify-content-center">-->
                    {% for j in range(0, teams|length) %}
                        <body>
                            <h3>Team Number: <span>{{teams[j]}}</span></h1>
                        </body>
                        <ul class="list-group list-group-horizontal justify-content-center">
                            {% for i in range(0, teamimgs[j]|length) %}
                            <li class="list-group-item">
                                <div>
                <!--                            <img src="{{ url_for('static', filename='./images/unknown.png')}}"  width="100" height="100">-->
                                    <img src="{{teamimgs[j][i]}}" width="100" height="100">
                                </div>
                                <div>
                                    <span>{{teamnames[j][i]}}</span>
                                    <br>
                <!--                            <span class="badge bg-secondary">Normal</span>-->
                                </div>
                            </li>
                            {% endfor %}
                        <!--<a class="btn btn-primary" type="button" href="/commentonteam">Add Comment</a>-->
                        <div class="mt-5 container">
                            <div class="row">
                                <form class="form-inline" action="/" method="GET">
                                    <div class="col-auto">
                                        <!--<label for="comment"> Comment:</label>-->
                                        <!--<textarea class="form-control" rows="3" id="comment"></textarea>-->
                                        <input class="form-control" type="text" name="comment" placeholder="Comment on team">
                                    </div>
                                    <div class="col-auto">
                                        <button class="btn btn-primary" type="submit" value="submit">Comment</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </ul>
                    {% endfor %}
                <!--</ul>-->
            </div>
        {%endif %}
    </div>
{% endblock %}