
{% extends "base.html" %}
{% block title %}Team Building{% endblock %}
{% block content %}
        <div class="container" id="team">
            <div>
                <h2>Team</h2>
            </div>
            <div class="justify-content-center">
                <ul class="list-group list-group-horizontal justify-content-center">
                    {% for i in range(0, curteamimg|length) %}
                    <li class="list-group-item">
                        <div>
<!--                            <img src="{{ url_for('static', filename='./images/unknown.png')}}"  width="100" height="100">-->
                            <img src="{{curteamimg[i]}}" width="100" height="100">
                        </div>
                        <div>
                            <span>{{curteam[i]}}</span>
                            <br>
<!--                            <span class="badge bg-secondary">Normal</span>-->
                        </div>
                        <form class="form-inline" action="/team" method="POST">
                            <div class="col-auto">
                                <button class="btn btn-primary" type="submit" name="remove" value="{{ i }}">Remove</button>
                            </div>
                        </form>
                    </li>
                    {% endfor %}
                </ul>
                <a class="btn btn-primary" type="button" href="/clearteam">Clear team</a>
            </div>
        </div>

        <div class="mt-5 container">
            <div class="row">
                <form class="form-inline" action="/team" method="GET">
                    <div class="col-auto">
                        <input class="form-control" type="text" name="search" placeholder="Search" value="{{search if search}}" aria-label="Search">
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="Pokemon" checked>
                      <label class="form-check-label" for="inlineRadio1">Pokemon</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="Move">
                      <label class="form-check-label" for="inlineRadio2">Move</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="Ability">
                      <label class="form-check-label" for="inlineRadio3">Ability</label>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-outline-success" type="submit" value="submit">Search</button>
                    </div>
                </form>
            </div>
        </div>

        {% if pokemon != None %}
            <div class="card container" style="width: 18rem;">
              <img src="{{pokemon.sprites.front_default}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{pokemon.name}}</h5>
<!--                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
                <a class="btn btn-primary" type="button" href="/addtoteam">Add to team</a>
              </div>
            </div>
        {% endif %}

        {% if move != None %}
            <div class="card container" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">{{move.name}}</h5>
                <p class="card-text">{{move.description}}</p>
                  <span class="badge rounded-pill bg-danger">Power</span> {{move.power}}
                  <span class="badge rounded-pill bg-success">Accuracy</span> {{move.accuracy}}
              </div>
            </div>
        {% endif %}

        {% if ability != None %}
            <div class="card container" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">{{ability.name}}</h5>
                <p class="card-text">{{ability.description}}</p>
              </div>
            </div>
        {% endif %}

        {% if displayNotFound %}
            <div class="alert alert-danger" role="alert">
              {{search}} not found in database
            </div>
        {% endif %}

{% endblock %}